<%- include('../partials/header') %>
<div class="container">
    <div class="card">
        <div class="card-header bg-warning">Edit Rincian</div>
        <div class="card-body">
            <form action="/details/update/<%= detail.id %>?_method=PUT" method="POST">
                <input type="hidden" name="activity_id" value="<%= activity.id %>">
                <div class="mb-3"><label>Deskripsi</label><textarea name="deskripsi_detail" class="form-control" required><%= detail.deskripsi_detail %></textarea></div>
                <div class="mb-3"><label>Durasi</label><input type="number" name="durasi" value="<%= detail.durasi %>" class="form-control" required></div>
                <div class="mb-3"><label>Status</label>
                    <select name="status" class="form-select">
                        <option value="Belum" <%= detail.status=='Belum'?'selected':'' %>>Belum</option>
                        <option value="Selesai" <%= detail.status=='Selesai'?'selected':'' %>>Selesai</option>
                    </select>
                </div>
                <button class="btn btn-primary">Update</button>
                <a href="/details/<%= activity.id %>" class="btn btn-secondary">Batal</a>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>